.app {
  background-color: blue;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  max-width: 480px;
}

.todo{
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
}